* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #292929;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f1f1f1;
}

.form {
  min-width: 400px;
  text-align: center;
  background: #fff;
  border-radius: 4px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  padding: 28px;
}

.form .heading {
  font-size: 2rem;
}

.form .desc {
  color: #636d77;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin: 8px 0;
}

.form .spacer {
  margin-top: 36px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 600;
  padding-bottom: 4px;
  line-height: 1.8rem;
  font-size: 1rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-message {
  font-size: 1rem;
  line-height: 1.6rem;
  padding-top: 4px;
}

.form-group.radio {
  display: block;
  text-align: left;
}

.form-group.radio .form-label {
  display: block;
}

.form-submit {
  border: none;
  background-color: #1dbfaf;
  width: 100%;
  padding: 11px 16px;
  margin-top: 8px;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-submit:hover {
  opacity: 0.8;
}